.block {
	padding: 30px 0;
	text-align: center;
	border-right: solid 1px var(--el-border-color);
	flex: 1;
}

.block:last-child {
	border-right: none;
}

.block .demonstration {
	display: block;
	color: var(--el-text-color-secondary);
	font-size: 14px;
	margin-bottom: 20px;
}

.iconSize {
	font-size: 16px;
	padding: 10px;
	font-weight: bold;
}

.el-carousel__item h3 {
	color: #475669;
	opacity: 0.75;
	line-height: 30px;
	margin: 0, 0, 0, 0;
	text-align: center;
	margin-top: 70px;
}

.el-carousel__item:nth-child(4n) {
	border-radius: 50px;
	background-color: #bbceb3;
}

.el-carousel__item:nth-child(4n + 1) {
	border-radius: 50px;
	background-color: #ffffff;
}

.el-carousel__item:nth-child(4n + 2) {
	border-radius: 50px;
	background-color: #C0C0C0;
}

.el-carousel__item:nth-child(4n + 3) {
	border-radius: 50px;
	background-color: #d4d4ba;
}