.dialog-footer button:first-child {
	margin-right: 10px;
}
.vd {
	max-width: 800px;
	min-width: 300px;
}
.a {
	display: flex;
	flex-wrap: wrap;
}
.b {
	flex: 1;
	max-width: 800px;
	min-width: 300px;
}
.c {
	display: flex;
	justify-content: space-around;
}
